.animation {
    background: url("https://cdn.iconscout.com/icon/free/png-256/snail-1671505-1422459.png") no-repeat;
    background-size: 50px 50px;
    position: relative;
    animation: snail-move 10s infinite;
    width: 400px;
    height: 40px;
    overflow: hidden;
}

@keyframes snail-move {
    from {
        left: -60px;
    }
    to {
        left: 320px;
    }
}

.status {
    margin: 0 auto;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid #e5e4e4;;
}

.title {
    text-align: center;
}